global
  log /dev/log local0 debug

  ulimit-n 400000
  maxconn 200000

  stats socket /var/run/haproxy.sock mode 660 level admin
  stats timeout 30s

#  user nobody
#  group nobody

  daemon

  nbthread 4

  # Default SSL material locations
  ca-base /etc/ssl/certs
  crt-base /etc/ssl/private

  # Default ciphers to use on SSL-enabled listening sockets.
  # For more information, see ciphers(1SSL).
  ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL


defaults
  log global

  maxconn 200000

  timeout connect 5s
  timeout client 15m
  timeout server 1h

  retries 3

  log-format {"timestamp":%Ts,"actconn":%ac,"backend_concurrent_conn":%bc,"backend_name":"%b","backend_queue":%bq,"backend_source_ip":"%bi","backend_source_port":%bp,"bytes_read":%B,"bytes_uploaded":%U,"client_ip":"%ci","client_port":%cp,"frontend_concurrent_conn":%fc,"frontend_ip":"%fi","frontend_name":"%f","frontend_name_transport":"%ft","frontend_port":%fp,"hostname":"%H","pid":%pid,"request_counter":%rt,"retries":%rc,"server_ip":"%si","server_name":"%s","server_port":%sp,"session_duration":%Tt,"srv_conn":%sc,"srv_queue":%sq,"status_code":%ST,"t_connect":%Tc,"t_wait":%Tw,"termination_state":"%ts"}

listen stats
  bind :8000

  mode http

  log 127.0.0.1:515 daemon

  stats enable
  stats hide-version
  stats uri /

  unique-id-format %{+X}o\ %ci:%cp_%fi:%fp_%Ts_%rt:%pid
  unique-id-header X-Unique-ID

  log-format {"timestamp":"%Ts","actconn":"%ac","backend_concurrent_conn":"%bc","backend_name":"%b","backend_queue":"%bq","backend_source_ip":"%bi","backend_source_port":"%bp","bytes_read":"%B","bytes_uploaded":"%U","client_ip":"%ci","client_port":"%cp","frontend_concurrent_conn":"%fc","frontend_ip":"%fi","frontend_name":"%f","frontend_name_transport":"%ft","frontend_port":"%fp","hostname":"%H","pid":"%pid","request_counter":"%rt","retries":"%rc","server_ip":"%si","server_name":"%s","server_port":"%sp","session_duration":"%Tt","srv_conn":"%sc","srv_queue":"%sq","status_code":"%ST","t_connect":"%Tc","t_wait":"%Tw","termination_state":"%ts","unique_id":"%ID","t_query":"%Tq","t_reponse":"%Tr","http_request":"%r","termination_state_cookie_status":"%ts"}

listen be-service
  log global
  bind :8080

  retries 3

  mode http
  balance hdr(X-Tenant-ID)

  option forwardfor header X-Real-IP
  option redispatch
  option http-keep-alive
  option log-health-checks
  option httplog

  unique-id-format %{+X}o\ %ci:%cp_%fi:%fp_%Ts_%rt:%pid
  unique-id-header X-Unique-ID

  log-format {"timestamp":"%Ts","actconn":"%ac","backend_concurrent_conn":"%bc","backend_name":"%b","backend_queue":"%bq","backend_source_ip":"%bi","backend_source_port":"%bp","bytes_read":"%B","bytes_uploaded":"%U","client_ip":"%ci","client_port":"%cp","frontend_concurrent_conn":"%fc","frontend_ip":"%fi","frontend_name":"%f","frontend_name_transport":"%ft","frontend_port":"%fp","hostname":"%H","pid":"%pid","request_counter":"%rt","retries":"%rc","server_ip":"%si","server_name":"%s","server_port":"%sp","session_duration":"%Tt","srv_conn":"%sc","srv_queue":"%sq","status_code":"%ST","t_connect":"%Tc","t_wait":"%Tw","termination_state":"%ts","unique_id":"%ID","t_query":"%Tq","t_reponse":"%Tr","termination_state_cookie_status":"%ts","http_request":"%r"}
  option httpchk GET / HTTP/1.0\r\nUser-Agent:\ HAProxy


  stick-table type string len 16 size 100M expire 20m
  stick on hdr(X-Tenant-ID)

  retry-on all-retryable-errors
  server be-local 172.17.0.1:2690 check inter 50s rise 2 fall 6 maxconn 10000 weight 100
  server be-local-1 172.17.0.1:2690 check inter 50s rise 2 fall 6 maxconn 10000 weight 100
